.container {
  text-align: center;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 5px;
}

.h1 {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 15px;
  text-shadow:2px -3px 3px #835959;
}

.h2 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}
